<h1>Classr</h1>
<h3>Register Your School</h3>
<%=link_to 'Register', new_role_path(role_type: 'principal')%>
<h3>Teacher, Counselor, Student? Sign Up</h3>
<%=link_to 'Sign Up', new_role_path%>
<h3>Log In</h3>
<%=link_to 'Log In', login_path %>
