<h2>White List Users</h2>
<%= render partial: 'whitelisted_domain_for_students', collection: @whitelisted_domain_for_students %>
<%= render partial: 'whitelisted_emails', collection: @whitelisted_emails %>
<%= render 'form' %>
