<div class="model_display" data-path-in-params=".edit_school-school-whitelisted_emails_attributes-<%= whitelisted_emails.id %>" id="whitelisted_email_<%= whitelisted_emails.id %>">
  Email: <%= whitelisted_emails.email %> Account Type: <%= whitelisted_emails.account_type %> <a class="edit" href="#">Edit</a> <a class="destroy" href="#">Remove</a>
</div>