<div class="model_display"  data-path-in-params=".edit_school-school-whitelisted_domain_for_students_attributes-<%= whitelisted_domain_for_students.id %>" id="whitelisted_domain_for_student_<%= whitelisted_domain_for_students.id %>">
  Domain: <%= whitelisted_domain_for_students.domain %> <a class="edit" href="#">Edit</a> <a class="destroy" href="#">Remove</a>
</div>