*:not(a) {
    transition: color .2s, background-color .2s;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    background: rgba(255,255,0,.7);
}

::selection {
    background: rgba(255,255,0,.4);

}

/* Body Styling */

body {
    background-color: #f9f9f9;
}

/* Text Hierarchy - Dictate default text size, spacing and emphases. */

body {
    font: 16px/1.5em "Roboto", helvetica, arial, verdana, sans-serif;
    color: rgb(33, 33, 33);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.panel-heading {
    font-size:100% !important;
}

h1 {
    font-size: 218%;
}

h2, .panel-heading h2, .panel-heading {
    font-size: 164%;
}

h3, .panel-heading h3 {
    font-size: 145%;
}

h4, .panel-heading h4 {
    font-size: 118%;
}
h5, .panel-heading h5 {
    font-size: 100%;
}
.panel-heading {
    font-weight:700;
}
.vertical paper-radio-button {
    display:block;
    padding:10px 0;
}

strong, .bold, .strong {
    font-weight: 700;
    letter-spacing: .025em;
}

a {
    color: #2196F3;
}

a:hover {
    color:#1976D2;
}

.badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Panel, Bootstrap's Card */

.panel {
    padding:5px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.panel > .panel-heading, .panel > .panel-footer {
    border:none;
    background-color:white;

}

.panel {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.panel.raised.fly {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.panel-body {
    padding-top:0;
}



/* Paper Element Bug Fixes - 'Nuff Said */

paper-slider #sliderBar  {
    margin:0 !important;
    padding:0 !important;
}

#offRadio {
    width:16px !important;
    height:16px !important;
}

.raised {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fly {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

/* Button Styling - Classes to affect button style and behavior */


.btn {
    color: rgb(118, 118, 118);
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
    padding: 6px 18px;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active, .btn:hover {
    color: rgb(118, 118, 118);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.raised, .dropdown.raised .btn, .btn-group.raised .btn, .pager.raised > li > a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transition-delay: .0s;
    -moz-transition-delay: .0s;
    -o-transition-delay: .0s;
    transition-delay: .0s;
}

.btn.raised:active, .dropdown.raised .btn:active, .btn-group.raised .btn:active, .pager.raised > li > a:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.raised.fly, .dropdown.raised.fly .btn, .pager.raised.fly > li > a {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.btn.raised.fly:active, .dropdown.raised.fly .btn:active, .btn-group.raised.fly .btn:active, .pager.raised.fly > li > a:active, .table.raised.fly {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition-delay: .0s;
    -moz-transition-delay: .0s;
    -o-transition-delay: .0s;
    transition-delay: .0s;
}

.btn.large, .btn.btn-lg {
    padding: 12px 36px;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow:initial;
    -moz-box-shadow:initial;
    box-shadow:initial;
}

.btn.success, .btn.info, .btn.danger, .btn.warning, .btn.accent, .btn.primary {
    color: white;
}

/* Alert panel classes */


.alert-panel {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 500px;
    display:none;
    opacity:0;
}

#alert-panel-background-filter {
    background-color:rgba(33, 33, 33,0.7);
    position:fixed;
    opactiy:0;
}

/* Tables */

.table {
    background-color:white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.table tr:not(:last-child) td {
    border-bottom: 1px solid rgba(0, 0, 0,0.12);
}
.table thead:not(:last-child) th {
    border-bottom: 2px solid rgba(0, 0, 0,0.12);
}

.table.alternate td, .table.alternate th {
    background-color: #eee;
}

.table.alternate tr:nth-child(odd) td, th {
    color:rgb(33,33,33);
    background-color:white;
}


/* Some Sugar for Dropdowns */


.dropdown-menu {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:none;
    font-size:1em;
}

.dropdown.raised .dropdown-menu, .dropdown-menu.raised, .btn-group.raised .dropdown-menu, .table.raised {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* Coat of Paint for labels */


.label {
    font-size:1em;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    padding:6px 18px;
}
.label.raised {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* Pagination Skin */


.breadcrumb {
    background-color:transparent;
}

.pagination >li> a {
    font-size:1em;
    border:none;
    -webkit-transition:background-color .2s;
    -moz-transition:background-color .2s;
    transition:background-color .2s;
}
.pagination >li> a {

}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pager > li > a {
    padding: 6px 18px;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition:background-color .2s;
    -moz-transition:background-color .2s;
    transition:background-color .2s;
}

/* A Little For Alert */


.alert {
    font-size:1em;
    border:none;
    border-radius: 2px;
    padding:12px 36px;
}

/* List Styling */

.list-group-item {
    transition: background-color .2s;
    border:none;
}

.list-group > .list-group-item:hover {
    background-color: initial;
}


.list-group {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

.list-group.raised {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.list-group.raised.fly {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}


/* Input and Form Classes - Style forms and their children elements. */

.input-group-addon {

    background: rgba(0, 0, 0, 0.0);
    border: none;
}

.form-control {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

input.form-control {
    color: rgb(33, 33, 33);
    border-bottom: 2px solid rgb(33, 33, 33);
}

input.form-control:focus {
    border-bottom: 2px solid #2196F3;
    -webkit-box-shadow: 0 0 8px rgba(187, 222, 251, .6);
    -moz-box-shadow: 0 0 8px rgba(187, 222, 251, .6);
    box-shadow: 0 0 8px rgba(187, 222, 251, .6);
}

textarea.form-control:focus {
    border-bottom: 2px solid #2196F3;
    -webkit-box-shadow: 0 0 8px rgba(187, 222, 251, .6);
    -moz-box-shadow: 0 0 8px rgba(187, 222, 251, .6);
    box-shadow: 0 0 8px rgba(187, 222, 251, .6);
}
textarea.form-control {
    border:none;
    border-bottom: 2px solid rgb(33, 33, 33);
    padding:15px;
}

/* Progress Bars */


.progress {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color:white;
    height:15px;
}
.progress-bar {
    background-image:none;
    border:none;
}

/* Labels. Those Button Badge Thingies */

.control-label {
    color: rgb(33, 33, 33);
}

/* Contextless Color Classes - Will guess the desired color styling based on the element. */

.table.primary td, .table.primary th {
    color: #1976D2;
    background-color: #BBDEFB;
}

.progress.primary .progress-bar, .progress .progress-bar, .progress-bar.primary {
    background-color:#2196F3;
}

.panel.primary > .panel-heading, .panel.primary > .panel-footer {
    color: #1976D2;
    background-color: #BBDEFB;
}

.list-group.primary .list-group-item, .list-group-item.primary {
    color: #1976D2;
    background-color: #BBDEFB;
}

.alert.primary {
    color: #1976D2;
    background-color: #BBDEFB;
}

.label.primary, .badge.primary  {
    color:white;
    background-color:#2196F3;
}

paper-slider.primary.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.primary #sliderKnobInner.paper-slider {
    background-color:#2196F3;
}

paper-radio-button.primary.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.primary paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#2196F3;
}
paper-radio-button.primary.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.primary paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button,  paper-radio-group paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#2196F3;
}

paper-toggle-button.primary.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.primary.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button, paper-toggle-button.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#2196F3;
}

paper-checkbox.primary.paper-checkbox-0 #checkbox.checked.paper-checkbox, paper-checkbox.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#2196F3;
    border-color:#2196F3;
}

.input-group.primary *:not(input):not(label), .form-group.primary *:not(input):not(label) {
    color: #2196F3;
}

.btn.primary {
    background-color: #2196F3;
}

input.form-control.primary, .input-group.primary input.form-control, .form-group.primary input.form-control {
    border-bottom: 2px solid #2196F3;
}

input.form-control.primary:focus, .input-group.primary input.form-control:focus, .form-group.primary input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33, 150, 243, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33, 150, 243, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(33, 150, 243, .6);
}


.progress.primary.dark .progress-bar, .progress-bar.primary.dark {
    background-color:#1976D2;
}

.label.primary.dark, .badge.primary.dark {
    color:white;
    background-color:#1976D2;
}
paper-slider.primary.dark.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.primary.dark #sliderKnobInner.paper-slider {
    background-color:#1976D2;
}

paper-radio-button.primary.dark.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.primary.dark paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#1976D2;
}
paper-radio-button.primary.dark.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.primary.dark paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#1976D2;
}

paper-checkbox.primary.dark.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#1976D2;
    border-color:#1976D2;
}

paper-toggle-button.primary.dark.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.dark.primary.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#1976D2;
}

.input-group.primary.dark *:not(input):not(label), .form-group.primary.dark *:not(input):not(label) {
    color: #1976D2;
}

.btn.primary.dark {
    color: white;
    background-color: #1976D2;
}

input.form-control.primary.dark, .input-group.primary.dark input.form-control, .form-group.primary.dark input.form-control {
    border-bottom: 2px solid #1976D2;
}

input.form-control.primary.dark:focus, .input-group.primary.dark input.form-control:focus, .form-group.primary.dark input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 118, 210, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 118, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 118, 210, .6);
}


.progress.primary.light .progress-bar, .progress-bar.primary.light {
    background-color:#BBDEFB;
}

.label.primary.light, .badge.primary.light {
    background-color:#BBDEFB;
}

paper-slider.primary.light.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.primary.light #sliderKnobInner.paper-slider {
    background-color:#BBDEFB;
}

paper-radio-button.primary.light.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.primary.light paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#BBDEFB;
}
paper-radio-button.primary.light.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.primary.light paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#BBDEFB;
}

paper-checkbox.primary.light.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#BBDEFB;
    border-color:#BBDEFB;
}

paper-toggle-button.primary.light.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.light.primary.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#BBDEFB;
}

.input-group.primary.light *:not(input):not(label), .form-group.primary.light *:not(input):not(label) {
    color: #BBDEFB;
}

.btn.primary.light {
    color: white;
    background-color: #BBDEFB;
}

input.form-control.primary.light, .input-group.primary.light input.form-control, .form-group.primary.light input.form-control {
    border-bottom: 2px solid #BBDEFB;
}

input.form-control.primary.light:focus, .input-group.primary.light input.form-control:focus, .form-group.primary.light input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(187, 222, 251, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(187, 222, 251, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(187, 222, 251, .6);
}



.progress.accent .progress-bar, .progress-bar.accent {
    background-color:#FFFF00;
}

.table.accent td, .table.accent th {
    color: #FDD835;
    background-color: #FFF9C4;
}

.list-group.accent .list-group-item, .list-group-item.accent {
    color: #FDD835;
    background-color: #FFF9C4;
}

.alert.accent {
    color: #FDD835;
    background-color: #FFF9C4;
}

.panel.accent > .panel-heading, .panel.accent > .panel-footer {
    color: #FDD835;
    background-color: #FFF9C4;
}

.label.accent, .badge.accent {
    color:white;

    background-color:#FFFF00;
}


paper-slider.accent.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.accent #sliderKnobInner.paper-slider {
    background-color:#FFFF00;
}


paper-radio-button.accent.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.accent paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#FFFF00;
}
paper-radio-button.accent.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.accent paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#FFFF00;
}

paper-checkbox.accent.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#FFFF00;
    border-color:#FFFF00;
}

paper-toggle-button.accent.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.accent.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#FFFF00;
}

.input-group.accent *:not(input):not(label), .form-group.accent *:not(input):not(label) {
    color: #FFFF00;
}

.btn.accent {
    background-color: #FFFF00;
}

input.form-control.accent, .input-group.accent input.form-control, .form-group.accent input.form-control {
    border-bottom: 2px solid #FFFF00;
}

input.form-control.accent:focus, .input-group.accent input.form-control:focus, .form-group.accent input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 00, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 00, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 00, .6);
}

 .progress-bar.accent.dark {
    color: #FFEA00;
}

.progress.accent.dark .progress-bar {
    background-color:#FFEA00;
}


.label.accent.dark, .badge.accent.dark {
    color:white;

    background-color:#FFEA00;
}

paper-slider.accent.dark.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.accent.dark #sliderKnobInner.paper-slider {
    background-color:#FFEA00;
}

paper-radio-button.accent.dark.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.accent.dark paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#FFEA00;
}
paper-radio-button.accent.dark.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.accent.dark paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#FFEA00;
}

paper-checkbox.accent.dark.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#FFEA00;
    border-color:#FFEA00;
}

paper-toggle-button.accent.dark.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.accent.dark.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#FFEA00;
}

.input-group.accent.dark *:not(input):not(label), .form-group.accent.dark *:not(input):not(label) {
    color: #FFEA00;
}

.btn.accent.dark {
    color: white;
    background-color: #FFEA00;
}

input.form-control.accent.dark, .input-group.accent.dark input.form-control, .form-group.accent.dark input.form-control {
    border-bottom: 2px solid #FFEA00;
}

input.form-control.accent.dark:focus, .input-group.accent.dark input.form-control:focus, .form-group.accent.dark input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 234, 00, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 234, 00, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 234, 00, .6);
}

 .progress-bar.accent.light {
    color: #FFFF8D;
}

.progress.accent.light .progress-bar {
    background-color:#FFFF8D;
}

.label.accent.light, .badge.accent.light {
    color:white;
    background-color:#FFFF8D;
}

paper-slider.accent.light.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.accent.light #sliderKnobInner.paper-slider {
    background-color:#FFFF8D;
}

paper-radio-button.accent.light.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.accent.light paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#FFFF8D;
}
paper-radio-button.accent.light.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.accent.light paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button  {
    background-color:#FFFF8D;
}

paper-checkbox.accent.light.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#FFFF8D;
    border-color:#FFFF8D;
}

paper-toggle-button.accent.light.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.accent.light.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#FFFF8D;
}


.input-group.accent.light *:not(input):not(label), .form-group.accent.light *:not(input):not(label) {
    color: #FFFF8D;
}

.btn.accent.light {
    color: white;
    background-color: #FFFF8D;
}

input.form-control.accent.light, .input-group.accent.light input.form-control, .form-group.accent.light input.form-control {
    border-bottom: 2px solid #FFFF8D;
}

input.form-control.accent.light:focus, .input-group.accent.light input.form-control:focus, .form-group.accent.light input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 141, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 141, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 141, .6);
}



.progress.success .progress-bar, .progress-bar.success {
    background-color:#5cb85c;
}

.list-group.success .list-group-item, .list-group-item.success {
    color: #3c763d;
    background-color: #dff0d8;
}

.table.success td, .table.success th {
    color: #3c763d;
    background-color: #dff0d8;
}

.alert.success {
    color: #3c763d;
    background-color: #dff0d8;
}

.panel.success > .panel-heading, .panel.success > .panel-footer {
    color: #3c763d;
    background-color: #dff0d8;
}

.label.success, .badge.success  {
    color:white;
    background-color:#5cb85c;
}

paper-slider.success.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.success #sliderKnobInner.paper-slider {
    background-color:#5cb85c;
}


paper-radio-button.success.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.success paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#5cb85c;
}
paper-radio-button.success.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.success paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#5cb85c;
}

paper-checkbox.success.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#5cb85c;
    border-color:#5cb85c;
}

paper-toggle-button.success.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.success.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#5cb85c;
}


.input-group.success *:not(input):not(label), .form-group.success *:not(input):not(label) {
    color: #5cb85c;
}

.btn.success {
    background-color: #5cb85c;
}

input.form-control.success, .input-group.success input.form-control, .form-group.success input.form-control {
    border-bottom: 2px solid #5cb85c;
}

input.form-control.success:focus, .input-group.success input.form-control:focus, .form-group.success input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(92, 184, 92, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(92, 184, 92, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(92, 184, 92, .6);
}



.progress.info .progress-bar, .progress-bar.info {
    background-color:#5bc0de;
}

.table.info td, .table.info th {
    color: #31708f;
    background-color: #d9edf7;
}

.list-group.info .list-group-item, .list-group-item.info {
    color: #31708f;
    background-color: #d9edf7;
}

.alert.info {
    color: #31708f;
    background-color: #d9edf7;
}

.panel.info > .panel-heading, .panel.info > .panel-footer {
    color: #31708f;
    background-color: #d9edf7;
}

.label.info, .badge.info {
    color:white;
    background-color:#5bc0de;
}

paper-slider.info.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.info #sliderKnobInner.paper-slider {
    background-color:#5bc0de;
}

paper-radio-button.info.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.info paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#5bc0de;
}
paper-radio-button.info.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.info paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#5bc0de;
}

paper-checkbox.info.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#5bc0de;
    border-color:#5bc0de;
}

paper-toggle-button.info.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.info.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#5bc0de;
}

.input-group.info *:not(input):not(label), .form-group.info *:not(input):not(label) {
    color: #5bc0de;
}

.btn.info {
    background-color: #5bc0de;
}

input.form-control.info, .input-group.info input.form-control, .form-group.info input.form-control {
    border-bottom: 2px solid #5bc0de;
}

input.form-control.info:focus, .input-group.info input.form-control:focus, .form-group.info input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
}



.progress.warning .progress-bar, .progress-bar.warning {
    background-color:#f0ad4e;
}

.table.warning td, .table.warning th {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.list-group.warning .list-group-item, .list-group-item.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.panel.warning > .panel-heading, .panel.warning > .panel-footer {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.alert.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.label.warning, .badge.warning {
    color:white;
    background-color:#f0ad4e;
}

paper-slider.warning.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.warning #sliderKnobInner.paper-slider {
    background-color:#f0ad4e;
}

paper-radio-button.warning.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.warning paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#f0ad4e;
}
paper-radio-button.warning.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.warning paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#f0ad4e;
}

paper-checkbox.warning.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#f0ad4e;
    border-color:#f0ad4e;
}

paper-toggle-button.warning.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.warning.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#f0ad4e;
}

.input-group.warning *:not(input):not(label), .form-group.warning *:not(input):not(label) {
    color: #f0ad4e;
}

.btn.warning {
    background-color: #f0ad4e;
}

input.form-control.warning, .input-group.warning input.form-control, .form-group.warning input.form-control {
    border-bottom: 2px solid #f0ad4e;
}

input.form-control.warning:focus, .input-group.warning input.form-control:focus, .form-group.warning input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(240, 173, 78, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(240, 173, 78, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(240, 173, 78, .6);
}


.progress.danger .progress-bar, .progress-bar.danger {
    background-color:#d9534f;
}

.table.danger td, .table.danger th {
    color: #a94442;
    background-color: #f2dede;
}

.list-group.danger .list-group-item, .list-group-item.danger {
    color: #a94442;
    background-color: #f2dede;
}

.panel.danger > .panel-heading, .panel.danger > .panel-footer {
    color: #a94442;
    background-color: #f2dede;
}

.alert.danger {
    color: #a94442;
    background-color: #f2dede;
}


.label.danger, .badge.danger {
    color:white;
    background-color:#d9534f;
}

paper-slider.danger.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.danger #sliderKnobInner.paper-slider {
    background-color:#d9534f;
}

paper-radio-button.danger.paper-radio-button-0[checked] #offRadio.paper-radio-button, paper-radio-group.danger paper-radio-button.paper-radio-button-0[checked] #offRadio.paper-radio-button {
    border-color:#d9534f;
}
paper-radio-button.danger.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.danger paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color:#d9534f;
}

paper-checkbox.danger.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color:#d9534f;
    border-color:#d9534f;
}

paper-toggle-button.danger.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button, paper-toggle-button.danger.paper-toggle-button-0[checked] .toggle-bar.paper-toggle-button {
    background-color:#d9534f;
}

.input-group.danger *:not(input):not(label), .form-group.danger *:not(input):not(label) {
    color: #d9534f;
}

.btn.danger {
    background-color: #d9534f;
}

input.form-control.danger, .input-group.danger input.form-control, .form-group.danger input.form-control {
    border-bottom: 2px solid #d9534f;
}

input.form-control.danger:focus, .input-group.danger input.form-control:focus, .form-group.danger input.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(217, 83, 79, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(217, 83, 79, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(217, 83, 79, .6);
}




/* Background Color Classes - Style the background color of an element. */

.bg-primary {
    background-color: #2196F3;
}

.bg-primary.dark {
    background-color: #1976D2;
}

.bg-primary.light {
    background-color: #BBDEFB;
}

.bg-accent {
    background-color: #FFFF00;
}

.bg-accent.dark {
    background-color: #FFEA00;
}

.bg-accent.light {
    background-color: #FFFF8D;
}

/* Text Color Classes - Style the text color of an element. */

.text-primary {
    color: #2196F3;
}

.text-primary.dark {
    color: #1976D2;
}

.text-primary.light {
    color: #BBDEFB;
}

.text-accent {
    color: #FFFF00;
}

.text-accent.dark {
    color: #FFEA00;
}

.text-accent.light {
    color: #FFFF8D;
}



/* Text Funtion Classes - Style text based on its function. */

.disabled, .hint, .text-muted, .muted {
    color: rgb(189, 189, 189);
}

.btn.disabled, .btn.hint, .btn.muted {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgb(118, 118, 118);
    background-color: #eee;
    pointer-events: none;
}

input.disabled, .input-group.disabled *, .form-group.disabled .input-group *, input.muted, .input-group.muted *, .form-group.muted .input-group *, paper-toggle-button.disabled  {
    background-color: #eee;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
    color: rgb(118, 118, 118);
}

paper-checkbox.disabled, paper-checkbox.muted {
    pointer-events: none;
}
paper-checkbox.disabled.paper-checkbox-0 #checkbox.checked.paper-checkbox, paper-checkbox.muted.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color: rgb(118, 118, 118);
    border-color:rgb(118, 118, 118);
}

paper-radio-button.disabled, paper-radio-group.disabled paper-radio-button, paper-radio-group.disabled {
    pointer-events: none;
}

paper-radio-button.disabled #radioLabel, paper-radio-group.disabled paper-radio-button #radioLabel {
    color: rgb(118, 118, 118) !important;
}

paper-radio-button.disabled.paper-radio-button-0 #offRadio.paper-radio-button, paper-radio-group.disabled paper-radio-button.paper-radio-button-0 #offRadio.paper-radio-button {
    border-color:rgb(118, 118, 118) !important;
}
paper-radio-button.disabled.paper-radio-button-0 #onRadio.paper-radio-button, paper-radio-group.disabled paper-radio-button.paper-radio-button-0 #onRadio.paper-radio-button {
    background-color: rgb(118, 118, 118);
}

paper-slider.disabled.paper-slider-0:not([disabled]) #sliderBar.paper-slider #activeProgress, .paper-slider-0.disabled #sliderKnobInner.paper-slider {
    background-color: #c8c8c8;
}

paper-slider.disabled {
    pointer-events:none;
}

.form-group.disabled .form-control-feedback, .form-group.muted .form-control-feedback {
    display: none;
}

.secondary {
    color: rgb(118, 118, 118);
}

.primary {
    color: rgb(33, 33, 33);
}


